
/* Web Fonts */
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Base Styles */   

header, /* Set header background to full width */        
footer {
    background: rgb(198, 203, 209);
    width: 100%;
}
.header-flex,
.header-flex ul {
    display: flex;
}

.header-flex {
    justify-content: space-between;
    flex-wrap: wrap;
}

.container { /*Center*/
margin: auto;
padding: 0 15px;
}

.menu li{
    display: inline-block;
    padding: 5px 15px;
}

h1,
figure  {
    margin: 0;   /*Overides normailzie.css styling for figure margins*/
}

header ul {
    list-style: none;
    padding:0;
}

h1,
h2,
h3 {
    font-family: 'League Gothic', Georgia, Times, serif;
}

body {
    color: steelblue;  
}

figure img {
    max-width: 100%;
    height: auto;
}

#contact-list {
    padding-left: 6px;
}

#contact-list li {
    display: inline;
    padding: 0 12px;
    border-right: solid 1px;
    }

#contact-list-left {
    border-left: solid 1px;
}

/* Link Formatting */
a:link {
    color: darkslategray;
} 

a:visited {
    color: rgb(38, 87, 194)l
}

a:hover {
    color: blue;
}

a:focus {
    background-color: darkgrey;
}

.menu a:link {
    color: darkslategray;
} 

.menu a:visited {
    color: rgb(38, 87, 194)l
}

.menu a:hover {
    color: blue;
}

.menu a:focus {
    background-color: darkgrey;
}


/* Media Queries */

@media (max-width:1000px) {

    
}


@media (min-width:769px) {


/* Flex Styles */

.profile,
header {
    display: flex;
    flex-wrap: wrap;
}

.profile {
    justify-content: space-around;
}


    * {
        max-width: 1200px;
    }

    .profile h3,
    .profile p,
    .profile dl {
        background: red;
        flex: 1;
    }
}